
*{
    .container {
        background-color: rgb(4, 83, 83);
        height: 100vh;
        .hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            // background-color: blue;
            .button {
                background-color: rgb(3, 3, 94);
                border: none;
                width: 20vw;
                height: 5vw;
                border-radius: 30px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                .menuburger {
                    position: relative;
                    width: 4vw;
                    height: 4vw;
                }
                .menuburger.is-gone {
                    opacity: 0;
                    transition: .5s;
                }
                .closetext {
                    position: absolute;
                    color: white;
                    font-size: 3vw;
                    opacity: 0;
                }
                .closetext.is-shown {
                    opacity: 1;
                    color: white;
                    font-size: 3vw;
                    transition: .3s;
                }
            }
            .button.is-active {
                color: white;
                font-size: 3vw;
                transition: .3s;
            }
        }
    }
}